<% if @want.id.nil? %>
  // Render new review form with errors
  $record = $('#wantlist .record[data-record-id="<%= @want.record.id %>"] .record-infos');
  text = $record.html();
  $record.empty().html("<h2>Only 10 digs at the same time</h2>");
  setTimeout(function() {
    $record.html(text);
  }, 900);
<% else %>

  $record = $('#wantlist .record[data-record-id="<%= @want.record.id %>"]');
  $record.addClass('digged').find(".record-infos").empty().html("<h2>Added to the Diglist</h2>");
  $('#dig-counter').text("<%= @wants.count %> digs").animate({
    right: "3.5em"},
    200, function() {
    $(this).animate({right: "1.5em"}, 300)
  });
  $('#wants-counter').html("<%= escape_javascript(render('shared/wants_counter', wants: @wants)) %>");
  $('.status.title').html("<%= escape_javascript(render('shared/status', status: @status, record: @record)) %>");

  setTimeout(function() {
    $record.addClass('wanted');
    $('#wants .record[data-record-id="<%= @want.record.id %>"]').addClass('wanted');
  }, 900);
<% end %>