<header>
  <div id="site-logo">
    <div class="logo-top">
      <%= link_to root_path do %>
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="-50 -91 300 117.6" enable-background="new -50 -91 300 117.6" xml:space="preserve">
        <g>
          <path d="M191.9-34.2V-23h40.9c-0.4,4.7-1.6,8.5-2.7,12.4c-2.4,5.5-5.5,9.7-8.9,13.6c-5.1,4.7-10.9,8.5-17.9,10.5
            c-3.9,1.2-8.2,1.6-12.8,1.6c-26,0-44.7-19.9-44.7-47.1s19.1-47.1,44.7-47.1c17.9,0,33.1,8.9,40.1,27.6l12-3.9
            c-8.9-24.2-29.6-35.4-52.2-35.4c-35.8,0-58.3,27.2-58.3,58.7s22.6,58.7,58.3,58.7c19.5,0,37.8-8.5,48.3-26.8v5.1v19.9H250v-59.1
            h-58.1V-34.2z"/>
        </g>
        <g>
          <path d="M89.9-87.5h14V25h-14L89.9-87.5L89.9-87.5z"/>
        </g>
        <g>
          <path d="M-39.3-87.5H1.7c39.4,0,59.5,22.2,59.5,56.1S41.3,25.1,1.7,25.1h-40.9V-87.5z M-25.3-75v87.6h26c31.1,0,45.9-16,45.9-43.5
            S31.9-74.5,0.7-74.5L-25.3-75L-25.3-75z"/>
        </g>
        </svg>
      <% end %>
    </div>
    <div class="logo-left">
      <%= link_to root_path do %>
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="-50 -91 117.8 381.9" enable-background="new -50 -91 117.8 381.9" xml:space="preserve">
          <g>
            <path d="M67.3,100.5c0,31.5-23.4,58.3-58.3,58.3s-58.3-26.8-58.3-58.3S-25.9,42.1,9,42.1S67.3,69.3,67.3,100.5z M-36.1,100.5
                c0,27.2,19.9,46.7,45.1,46.7c25.6,0,45.1-19.9,45.1-46.7c0-27.2-19.5-46.7-45.1-46.7C-16.4,54.2-36.1,73.6-36.1,100.5z"/>
          </g>
          <g id="logo-spinner">
            <path d="M10.2,230.1v11.2h40.5c-0.4,4.7-1.6,8.5-2.7,12.4c-2.4,5.5-5.5,9.7-8.9,13.6c-5.1,4.7-10.9,8.5-17.9,10.5
              c-3.9,1.2-8.2,1.6-12.8,1.6c-26,0-44.7-19.9-44.7-47.1s19.1-47.1,44.7-47.1c17.9,0,33.1,8.9,40.1,27.6l12-3.9
              c-8.9-24.2-29.6-35.4-52.2-35.4c-35.8,0-58.3,27.2-58.3,58.7s22.6,58.7,58.3,58.7c19.5,0,37.8-8.5,48.3-26.8v5.1V289h11.2v-59.4
              H10.2L10.2,230.1L10.2,230.1z"/>
          </g>
        </svg>
      <% end %>
    </div>
  </div>

<div id="navigation login" style="margin-top: 10px;">

<% if user_signed_in? %>
  <%= link_to user_discogs_omniauth_authorize_path do %>
    <%= t(".login_discogs", default: "Login with Discogs") %>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <%= t(".sign_out", default: "Log out") %>
  <% end %>
<% else %>
  <!-- Login link (when logged out) -->
  <%= link_to t(".sign_in", default: "Login with Discogs"), user_discogs_omniauth_authorize_path, id: "login" %>
<% end %>
</div>
</header>