<header>

  <%= render 'shared/logo' %>

  <% unless @records.nil? %>
  <%= render 'shared/searchbar' %>
  <% end %>

  <% if user_signed_in? %>

    <div id="current-title" class="title">
      List
      <span class="close" data-target="toggle-list">✕</span>
    </div>

    <% unless @wants.nil? %>
    <div id="list-toggle" class="title" data-target="toggle-list">
      <span></span>
      <span></span>
      <span></span>
      <span id="dig-counter" class="subtitle"><%= pluralize(@wants.count, 'dig') %></span>
    </div>
    <% end %>
  <% end %>

    <div id="login">
      <% if user_signed_in? %>
            <h2 id="username" class="m0"><%= current_user.username %></h2>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <h2 id="logout" class="m0">Logout</h2>
          <% end %>
      <% else %>
          <%= link_to user_discogs_omniauth_authorize_path do %>
            <h2 class="m0">Login</h2>
          <% end %>
      <% end %>
    </div>

</header>
