<header>
  <div id="site-logo">
    <%= link_to root_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="143.2 116.1 229.5 292"><path d="M189.4 361.3v8.6h31c-.3 3.6-1.2 6.5-2.1 9.5-1.8 4.2-4.2 7.4-6.8 10.4-3.9 3.6-8.3 6.5-13.7 8-3 .9-6.3 1.2-9.8 1.2-19.9 0-34.2-15.2-34.2-36s14.6-36 34.2-36c13.7 0 25.3 6.8 30.7 21.1l9.2-3c-6.8-18.5-22.6-27.1-39.9-27.1-27.4 0-44.6 20.8-44.6 44.9 0 24.1 17.3 44.9 44.6 44.9 14.9 0 28.9-6.5 36.9-20.5V406.4h8.6V361h-44.1v.3zM233.1 262.2c0 24.1-17.9 44.6-44.6 44.6s-44.6-20.5-44.6-44.6 17.9-44.6 44.6-44.6 44.6 20.8 44.6 44.6zm-79.1 0c0 20.8 15.2 35.7 34.5 35.7 19.6 0 34.5-15.2 34.5-35.7 0-20.8-14.9-35.7-34.5-35.7-19.4.3-34.5 15.2-34.5 35.7zM328.4 159.2v8.6h31.3c-.3 3.6-1.2 6.5-2.1 9.5-1.8 4.2-4.2 7.4-6.8 10.4-3.9 3.6-8.3 6.5-13.7 8-3 .9-6.3 1.2-9.8 1.2-19.9 0-34.2-15.2-34.2-36s14.6-36 34.2-36c13.7 0 25.3 6.8 30.7 21.1l9.2-3c-6.8-18.5-22.6-27.1-39.9-27.1-27.4 0-44.6 20.8-44.6 44.9s17.3 44.9 44.6 44.9c14.9 0 28.9-6.5 36.9-20.5V204.3h8.6v-45.2h-44.4zM250.4 118.5h10.7v86h-10.7v-86zM151.6 118.5h31.3c30.1 0 45.5 17 45.5 42.9s-15.2 43.2-45.5 43.2h-31.3v-86.1zm10.7 9.5v67h19.9c23.8 0 35.1-12.2 35.1-33.3s-11.3-33.3-35.1-33.3l-19.9-.4z"/></svg>
    <% end %>
  </div>

<div id="navigation">

<% if user_signed_in? %>
  <ul class="login">
    <li>
      <%= link_to authenticate_discogs_path do %>
        <%= t(".login_discogs", default: "Log to Discogs") %>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </li>
  </ul>
<% else %>
  <!-- Login link (when logged out) -->
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "login" %>
  <%= link_to t(".sign_in", default: "Login Discogs"), authenticate_discogs_path, class: "login" %>
<% end %>
</div>
</header>