<% if findings.any? %>
  <div class="slider">
    <% slider_images = findings.shuffle.sample(30) %>
    <% slider_images.each do |finding| %>
      <% record = finding.record %>
      <% unless record.images.nil? %>
        <% record.images.each do |image| %>
          <div class="slide" data-title="<%= finding.record.artists[0]["name"] %> — <%= finding.record.title %>" data-provider="Found on <%= finding.provider %> for <%= finding.price %><%= finding.currency %><br><%= pluralize(rand(1..6), 'day') %> ago">
            <%= image_tag image["uri"] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="slider-right">
    <div class="banner-text title c10">
    Track down<br>rare records<br>24/7
    </div>
      <div class="current-infos">
        <h2 class="current-provider">Found on <%= slider_images.first.provider %> for <%= slider_images.first.price %><%= slider_images.first.currency %><br><%= pluralize(rand(1..6), 'day') %> ago</h2>
        <p class="current-title ttu lh1"><%= slider_images.first.record.artists[0]["name"] %> — <%= slider_images.first.record.title %></p>
      </div>
    </div>
  </div>
<% end %>
