<div>
	<h2><%= @record.title %></h2>
	<h3><%= @record.artists[0]["name"] %></h3>
	<h3><%= @record.labels[0]["name"] %></h3>
	<h3><%= @record.year %></h3>
	<h3><%= @record.genres %></h3>
	<h3><%= @record.styles %></h3>
	<%= image_tag @record.images.first["uri"] %>
</div>
