<%= render template: 'discogs/wantlist' %>

		<h2><%= @record.title %></h2>

		<% @record.artists.first(1).each do |artist| %>
			<h2><%= artist["name"] %></h2>
		<% end %>

		<% @record.labels.each do |label| %>
		<h2>Labels</h2>
			<h2><%= label["name"] %></h2>
		<% end %>
		
		<h2>Format</h2>
		<% @record.formats[0]["descriptions"].each do |format| %>
		<h2><%= format %></h2>	
		<% end %>	
			<h2>Year</h2>
		<h2><%= @record.year %></h2>
		<% @record.genres.each do |genre| %>
			<h2>Genres</h2>
				<h2><%= genre %></h2>
		<% end %>
			<% @record.styles.each do |style| %>
		<h2>Styles</h2>
		<h2><%= style %></h2>
		<% end %>
<!--       <%= link_to([@record, Want.new], remote: true, method: :post) do %>
         <div class="indic indic-dig" data-record-id="<%= @record.id %>">
           <svg version="1.1" class="dig" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
            <g class="add">
              <polygon points="103.8,159.5 103.8,40.5 96.2,40.5 96.2,159.5 "/>
              <polygon points="40.5,103.8 159.5,103.8 159.5,96.2 40.5,96.2 "/>
            </g>
            <g class="arrow">
            <polygon points="160.8,94.1 103.8,152.1 103.8,33.2 96.2,33.2 96.2,152.1 39.1,94.1 33.7,99.5 100,166.8 166.3,99.5 "/>
            </g>
            </svg> -->
<!--          </div>
      <% end %> -->
	 <%= image_tag @record.images.first["uri"], class: "cover" %>
