<%= render template: 'discogs/wantlist' %>
<div class="container">
	<div class="item">
		<h2><%= @record.title %></h2>
		<% @record.artists.first(1).each do |artist| %>
			<h3><%= artist["name"] %></h3>
		<% end %>
		<p></p>
			<div>
				<% @record.labels.each do |label| %>
					Labels: <%= label["name"] %>
				<% end %>
			</div><br>
			<div>
				Format:
				<% @record.formats[0]["descriptions"].each do |format| %>
					<span><%= format %></span>
				<% end %>
			</div><br>
			<div>
				Year: <%= @record.year %>
			</div><br>
			<div>
				<% @record.genres.each do |genre| %>
					Genres: <%= genre %>
				<% end %>
			</div><br>
			<div>
				Styles:
				<% @record.styles.each do |style| %>
					<%= style %>
				<% end %>
			</div><br>
		<span>
		<p></p>
		<h3 class="upper">Tracklist:</h3>
		</span><br>
			<% @record.tracklist.each do |tracklist| %>
		<div class="x">
			<div class="c2">
				<%= tracklist["position"] %>				
			</div>
			<div class="c9">
				<%= tracklist["title"] %>			
				<%= tracklist["duration"] %>
			</div>
		</div><br>
		<% end %>
	</div>
	<div class="item">
	 <%= image_tag @record.images.first["uri"], class: "cover" %>		
	</div>	
</div>
<!--       <%= link_to([@record, Want.new], remote: true, method: :post) do %>
         <div class="indic indic-dig" data-record-id="<%= @record.id %>">
           <svg version="1.1" class="dig" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
            <g class="add">
              <polygon points="103.8,159.5 103.8,40.5 96.2,40.5 96.2,159.5 "/>
              <polygon points="40.5,103.8 159.5,103.8 159.5,96.2 40.5,96.2 "/>
            </g>
            <g class="arrow">
            <polygon points="160.8,94.1 103.8,152.1 103.8,33.2 96.2,33.2 96.2,152.1 39.1,94.1 33.7,99.5 100,166.8 166.3,99.5 "/>
            </g>
            </svg> -->
<!--          </div>
      <% end %> -->
