<%= render template: 'discogs/wantlist' %>

<div id="page-content">
  
<div class="inner">
  
  <div class="status title">
    <% if @wants.include?(@record) %>
       <% wanted = true %>
       <% found = true if !@findings.empty? %>
     <% end %>
    <% if wanted %>
      <span class="wanted">
        ging<span>.</span><span>.</span><span>.</span>
      </span>
    <% elsif found %>
     <span class="found">
        found
      </span>
    <% elsif @wants.count < 10 %>
      <span class="default">
      <%= link_to [@record, Want.new], remote: true, method: :post, class: "wsnw" do %>
        it <span>✓</span>
      <% end %>
      </span>
    <% end %>
  </div>
        
  <div class="c12 x">
    <div class="record-cover c4">
    <%= image_tag @record.images.first["uri"], class: "w100" %>
    </div>
    
    <div class="c8 px2">
      <h1 class="record-title"><%= @record.title %></h1>
      <% @record.artists.first(1).each do |artist| %>
        <h2><%= artist["name"] %></h2>
      <% end %>
    </div>
  </div>
  
  <div class="c12 x">
    <div class="c4 infos pt3">
        <% unless @record.year.nil?  %>
          <div class="c12">
          <div class="c3 fl">
              Year
            </div>
            <div class="c9 fl">  
              <h3><%= @record.year %></h3>
            </div>      
          </div>
        <% end %>
        
        <% unless @record.formats.empty?  %>
          <div class="c12">
          <div class="c3 fl">
              Formats
            </div>
            <div class="c9 fl">
            <% @record.formats.each do |format| %>
              <h3><%= format["name"] %></h3>
            <% end %>
            </div>      
          </div>
        <% end %>

        <% unless @record.labels.empty?  %>
          <div class="c12">
            <div class="c3 fl">Labels</div>
            <div class="c9 fl">
            <% @record.labels.each do |label| %>
            <h3><%= label["name"] %></h3>
            <% end %>
            </div>  
          </div>
        <% end %>
          
        <% unless @record.genres.empty?  %>
          <div class="c12">
          <div class="c3 fl">
              Genres
            </div>
            <div class="c9 fl">
            <% @record.genres.each do |genre| %>
              <h3><%= genre %></h3>
            <% end %>
            </div>      
          </div>
        <% end %>
  
        <% unless @record.styles.empty?  %>
          <div class="c12">
          <div class="c3 fl">
              Styles
            </div>
            <div class="c9 fl">
            <% @record.styles.each do |style| %>
              <h3><%= style %></h3>
            <% end %>
            </div>      
          </div>
        <% end %>
      
    </div>
      <div class="c8 px2">
          
          <% unless @record.tracklist.nil?  %>
              <div class="c12 subtitle pt3">
                  <% @record.tracklist.each do |track| %>
                  <div class="track c12 x">
                    <div class="c1">
                      <%= track["position"] %>        
                    </div>
                    <div class="c10">
                      <%= track["title"] %>     
                    </div>
                    <div class="c1 tar">
                      <%= track["duration"] %>
                    </div>
                  </div>
                  <div class="c12">
                  <% if @record.videos.key?(track["title"]) %>
                      <div class="plyr c8">
                        <div data-video-id="<%= @record.videos[track["title"]] %>" data-type="youtube"></div>
                      </div>
                  <% end %>
                  </div>
                <% end %>
              </div>
          <% end %>
          <% if !@findings.nil? %>
          <div id="record-findings" class="mt4">
            <h2><%= @findings_for_show.count %> matching <%= 'record'.pluralize(@findings_for_show.count) %></h2>
            <div id="findings-results" class="mt4">
              <% @findings_for_show.each do |finding| %>
                <div class="track subtitle c12 x">
                  <div clas="c3">
                    <%= finding.provider %>
                  </div>
                  <div class="c11 tar">
                    <%= rand(1..40) %> <%= finding.currency %>
                    <%#= finding.price %>
                  </div>
                </div>
                  <div class="track c12 x">
                    <%= link_to finding.url do %>
                    <%#= finding.thumb %>
                    <%= image_tag @record.images.first["uri"], class: "c2", target: "blank" %>
                    <%#= finding.title %>
                    <div class="c3"><h3><%= @record.title %></h3></div>
                    <div class="c3"><h3><%= finding.location %></h3></div>  
                    <div class="button-found c3 tar">
                      Buy ↓
                    </div>
                    <% end %>
                  </div>

              <% end %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
  
  </div>
  
</div>