<%= render template: 'discogs/wantlist' %>

<div id="page-content">
  
<div class="inner">
  
  <div class="status title">
    <%= render('shared/status', status: @status, record: @record) %>
  </div>
  <% if @record.images.empty? %>
     <div class="c12 x">
        <div class="record-cover c4">
        <%= render 'shared/placeholder' %>
      </div>
  <% else %>
      <div class="c12 x">
        <div class="record-cover c4">
        <%= image_tag @record.images.first["uri"], class: "w100" %>
      </div>
  <% end %>     
    
    <div class="c8 px2">
      <h1 class="record-title"><%= @record.title %></h1>
      <% @record.artists.first(1).each do |artist| %>
        <h2><%= artist["name"] %></h2>
      <% end %>
    </div>
  </div>
  
  <div class="c12 x">
    <div class="c4 infos pt3">
        <% unless @record.year.nil?  %>
          <div class="c12">
          <div class="c3 fl">
              Year
            </div>
            <div class="c9 fl">  
              <h3><%= @record.year %></h3>
            </div>      
          </div>
        <% end %>
        
        <% unless @record.formats.empty?  %>
          <div class="c12">
          <div class="c3 fl">
              Formats
            </div>
            <div class="c9 fl">
            <% @record.formats.each do |format| %>
              <h3><%= format["name"] %></h3>
            <% end %>
            </div>      
          </div>
        <% end %>

        <% unless @record.labels.empty?  %>
          <div class="c12">
            <div class="c3 fl">Labels</div>
            <div class="c9 fl">
            <% @record.labels.each do |label| %>
            <h3><%= label["name"] %></h3>
            <% end %>
            </div>  
          </div>
        <% end %>
          
        <% unless @record.genres.empty?  %>
          <div class="c12">
          <div class="c3 fl">
              Genres
            </div>
            <div class="c9 fl">
            <% @record.genres.each do |genre| %>
              <h3><%= genre %></h3>
            <% end %>
            </div>      
          </div>
        <% end %>
  
        <% unless @record.styles.empty?  %>
          <div class="c12">
          <div class="c3 fl">
              Styles
            </div>
            <div class="c9 fl">
            <% @record.styles.each do |style| %>
              <h3><%= style %></h3>
            <% end %>
            </div>      
          </div>
        <% end %>
      
    </div>
      <div class="c8 px2">
          
          <% unless @record.tracklist.nil?  %>
              <div class="c12 subtitle pt3">
                  <% @record.tracklist.each do |track| %>
                  <div class="track c12 x mb1"<%= " data-video-id=#{@record.videos[track["title"]]}" if @record.videos.key?(track["title"]) %>>
                    <div class="c1">
                      <%= track["position"] %>        
                    </div>
                    <div class="c10">
                      <%= track["title"] %>     
                    </div>
                    <div class="c1 tar">
                      <%= track["duration"] %>
                    </div>
                  </div>
                  
                <% end %>
              </div>
          <% end %>
          <% if !@findings_for_show.nil? && @status != "none" %>
          <div class="mt4">
            <h2><%= @findings_for_show.count %> matching <%= 'record'.pluralize(@findings_for_show.count) %> found</h2>
            <div class="mt4">
              <% @findings_for_show.each do |finding| %>
                <div class="finding c12 mt1 pb1">
                  <div class="subtitle c12 x mb1">
                    <div class="c6">
                      Found on <%= finding.provider %>
                    </div>
                    <div class="c6 tar">
                      <%= finding.price %> <%= finding.currency %>
                    </div>
                  </div>
                  <div class="c12 x">
                    <%= link_to finding.url, class: "c12 x", target: "_blank" do %>
                      <% if finding.thumb.blank? %>   
                        <div class="c1 pr1">
                          <%= render 'shared/placeholder' %>
                        </div>
                      <% else %>
                        <div class="c1">
                          <%= image_tag finding.thumb, class: "w100 pr1" %>
                        </div>
                      <% end %>
                      <div class="c4">
                        <h3 class="m0"><%= truncate(finding.title, length: 70) %></h3>
                      </div>
                      <div class="c4 co1">
                        From
                        <h3><%= finding.location %></h3>
                      </div>  
                      <div class="c3 tar">
                        <div class="button-found dib">
                          Buy ↓
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
  
  </div>
  
</div>