<%= render template: 'discogs/wantlist' %>

<div id="page-content">

<div class="inner">
    
  <div class="status title">
    <span class="wanted">
      ging<span>.</span><span>.</span><span>.</span>
    </span>
    <span class="found">
      found <%=  %>
    </span>
  </div>
  
  <div class="c8 px2">
    <h1 class="record-title"><%= @record.title %></h1>
    <% @record.artists.first(1).each do |artist| %>
      <h2><%= artist["name"] %></h2>
    <% end %>
  </div>
</div>

<div class="c12 x">
  <div class="c4 infos">
      <% @record.labels.each do |label| %>
        <div class="subtitle">Labels: <%= label["name"] %></div>  
        <% end %>
        
      <% unless @record.formats.nil?  %>
        
        <% @record.formats.each do |format| %>
          <div class="subtitle">Format: <%= format["name"] %></div>
        <% end %>        
      <% end %>
      <div class="subtitle">Year: <%= @record.year %></div>
        
        
        <% @record.genres.each do |genre| %>
          <div class="subtitle">Genres: <%= genre %></div> 
        <% end %>
   
        <% @record.styles.each do |style| %>
          <div class="subtitle">Styles: <%= style %></div> 
        <% end %>
    
  </div>
    <div class="c8 px2">
        
        
        
        <% unless @record.tracklist.nil?  %>
            <h2 class="subtitle">Tracklist</h2>
            <div class="c12 subtitle">
                <% @record.tracklist.each do |tracklist| %>
                <div class="track c12 x">
                  <div class="c1">
                    <%= tracklist["position"] %>        
                  </div>
                  <div class="c10">
                    <%= tracklist["title"] %>     
                
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
</div>
  
</div>