<% if user_signed_in? %>

<% render 'shared/searchbar' %>


  <% if @records %>

    <div id="records-list">

    <div id="wants" class="fl c12">

      <div id="wants-counter" class="fl c12 record">
        <%= render 'shared/wants_counter', wants: @wants %>
      </div>

      <% @records.each do |record| %>
        <%= render 'shared/want', wants: @wants, record: record, findings: @findings %>
      <% end %>

    </div>


      <div id="wantlist">
        <% @records.each do |record| %>
       <% if @wants.include?(record) %>
         <% wanted = true %>
         <% @findings = Finding.where(record_id: record.id) %>
         <% found = true if !@findings.empty? %>
       <% end %>
       <div class="record<%= " wanted" if wanted %><%= " found" if found %>" data-record-id="<%= record.id %>">
       <%= link_to discog_path(record), :data => { :recordtarget => '' } do %>
         <% unless record.images.nil? %>
           <% record.images[0..0].each do |image| %>
              <div class="album-cover">
                <%= image_tag image['uri'] %>
              </div>
           <% end %>
         <% end %>
         <div class="record-infos">
             <h2><%= record.title %></h2>
             <h3><%= record.artists[0]["name"] %></h3>
                 <% if true # @wants.count < 10 %>
                   <%= link_to([record, Want.new], remote: true, method: :post) do %>

                   <div class="indic indic-dig" data-record-id="<%= record.id %>">

                      <div class="digit-text">DIG IT</div>

                      <div class="svg">
                        <svg version="1.1" class="dig" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                        <g class="add">
                          <polygon points="103.8,159.5 103.8,40.5 96.2,40.5 96.2,159.5 "/>
                          <polygon points="40.5,103.8 159.5,103.8 159.5,96.2 40.5,96.2 "/>
                        </g>
                        </svg>
                      </div>
                   </div>
                   <% end %>
                <% end %>
         </div>
        <% end %>
       </div>
      <% end %>

      </div>

    </div>

<% end %>

<% else %>
  <%= render 'shared/introduction' %>
<% end %>
