    <!--  if user signed in -->

<% if user_signed_in? %>

<!-- List findings  -->
  <% @wfindings.each do |findings| %>
    <div class="wanted">
      <p><%= want.record.artists[0]["name"] %> - <%= want.record.title %></p>
        <% unless want.record.images.empty? %>
          <% want.record.images.each do |image| %>
            <%= image_tag image["uri"] %>
          <% end %>
        <% end %>
      </div>
  <% end %>

<!-- Wantlist digdog -->

  <% @wants.each do |want| %>
    <div class="wanted">
      <p><%= want.record.artists[0]["name"] %> - <%= want.record.title %></p>
        <% unless want.record.images.empty? %>
          <% want.record.images.each do |image| %>
            <%= image_tag image["uri"] %>
          <% end %>
        <% end %>
      </div>
  <% end %>

  <!-- Wantlist discogs  -->

  <% @records.each do |record| %>
    <%= simple_form_for([record, Want.new]) do |f| %>
      <div class="record wanted found">
        <p><%= record.artists[0]["name"] %> — <%= record.title %></p>
        <% unless record.images.empty? %>
          <% record.images.each do |image| %>
            <%= image_tag image["uri"] %>
          <% end %>
        <% end %>
      </div>
      <%= f.input :record_id, as: :hidden, input_html: { value: record.id } %>
      <%= f.submit "Dig it for me" %>
    <% end %>
  <% end %>

<!--  if first visit / not signed in : Home page "track rare records 24/7 -->

<% else %>

  <%= render 'shared/introduction' %>

<% end %>
