<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://unpkg.com/flickity@2.0.3/dist/flickity.min.css'>
    <script src='https://unpkg.com/flickity@2.0.3/dist/flickity.pkgd.min.js'></script>
    <script src='https://unpkg.com/flickity-transformer@0.3.3/dist/flickity-transformer.pkgd.min.js'></script>
    <title>Digdog</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/header" %>
    <div class="wrapper">
      <%= render "shared/findings" %>
      <%= render "shared/introduction" %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
